general.config.inc.php
selectraerp/uploads/**/*.csv
selectraerp/uploads/**/*.txt
selectraerp/uploads/**/*.zip
selectraerp/modulos/principal/templates_c/*.php
selectraerp/modulos/sesion/templates_c/*.php
selectraerp/modulos/sincronizacion/templates_c/*.php