selectraerp/uploads/**/*.csv
selectraerp/uploads/**/*.txt
selectraerp/uploads/**/*.zip
selectraerp/modulos/principal/templates_c/*
selectraerp/modulos/sesion/templates_c/*
selectraerp/modulos/sincronizacion/templates_c/*